<h1>Welcome</h1>
<p>this the landing page for my blog made used on ruby on rails</p>

<p>This page is just a pageholder later we will replace the page with the posts
This page is just a pageholder later we will replace the page with the posts
This page is just a pageholder later we will replace the page with the posts
This page is just a pageholder later we will replace the page with the posts</p>
